body {
    background-image: url("images/bg3.jpg");
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    color: purple;
    font-weight: bold;
    font-size: 64px;
    margin: 20px 0; /* Updated margin to keep consistent position */
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    font-style: italic;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}


form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Align form content to the center */
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 15px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}


h2 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

thead {
    background-color: #3498db;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
